/**********************************************
                Responsive CSS
***********************************************/


/*  Mobile Devices */
@media only screen and (max-width: 767px) {
    .sm-hidden {
        display: none;
    }

    .header-banner {
        flex-direction: column-reverse;
    }
}

/*  Tablet Devices */
@media only screen and (min-width: 768px) {
    .md-hidden {
        display: none;
    }
}

/*  Desktop Devices */
@media only screen and (min-width: 1024px) {}