/**********************************************
                Normalize CSS
***********************************************/
:root {
    --color-primary: #F4ECE1;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green: #228B22;
    --color-yellow: #ADFF2F;
    --color-blue: #4169E1;
    --color-red: #DC143C;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: var(--color-primary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-white {
    color: var(--color-white);
}

.text-primary {
    color: var(--color-primary);
}

.text-black {
    color: var(--color-black);
}

.container-padding {
    padding: 80px 100px;
}

/*********************************************
                Navbar and Header CSS 
**********************************************/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
}

.navbar .nav-inner {
    height: 70px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

/* .navbar .nav-inner .navbar-middle .navbar-right ul li {
    display: inline-block;
} */

.navbar-left a .logo {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 87px;
    top: 41px;

    background: url(../images/logo.png);
}

.navbar-left a .logo::before {
    position: absolute;
    content: 'Foo';
    Width: 58px;
    Height: 45px;
    Top: 20px;
    Left: 40px;
}

.header-banner {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    background: url(../images/banner.png);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}